.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid $lineColour;
  margin-top: 1rem;
  margin-bottom: 1rem;

  header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .25em 1em;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .avatar {
    margin-right: 1em;
  }

  .username {
    font-weight: lighter;
  }

  .handle {
    font-weight: bold;
    color: #C6CCE3;
  }

  p {
    padding: 1em 1em;
    margin: .25em 1em;
    font-weight: bolder;
    border-bottom: 5px solid $lineColour;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .25em 1em;
  }

  .timestamp {
    font-size: .75em;
  }

  .action-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // icons are hidden until :hover on tweet
    visibility: hidden;

    img {
      height: 16px;
      width: 16px;
      margin: .25em .25em;
    }
  }

  &:hover {
    box-shadow: 8px 8px #C6CCE3;
  }

  // to get the action icons to appear when hovering over the tweet
  &:hover .action-icons {
    visibility: visible;
  }
}
