.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff7f50;
  background-image: url("../images/argyle.png");
  color: white;
  padding-top: 50px;
  height: 400px;
  width: 100%;
}

.site-header > h2 {
  padding: 0;
  margin: 0;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .site-header {
    max-width: 50%;
    margin-top: 120px;
  }
}
